:root {
  --thead-color: 0, 0, 105;
}

table {
  margin: 0 auto;
  width: 70%;
  /* border: 1px solid black; */
  /* border-radius: 20px; */
  overflow: hidden;
  border-collapse: collapse;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}

th {
  color: white;
  padding: 25px 0;
  font-size: 20px;
}

th > span {
  font-size: 25px;
  font-weight: 900;
}

th:last-child {
  background-color: rgb(var(--thead-color));
}
.th-color-4 {
  background-color: rgba(var(--thead-color), 0.75);
}
.th-color-3 {
  background-color: rgba(var(--thead-color), 0.6);
}
.th-color-2 {
  background-color: rgba(var(--thead-color), 0.5);
}
.th-color-1 {
  background-color: rgba(var(--thead-color), 0.4);
}

.start-btn {
  display: inline-block;
  padding: 5px 15px;
  margin-top: 5px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid gray;
  color: black;
  background-color: white;
}

td {
  padding: 12px 25px;
}
.foot-background > td {
  background-color: rgb(201, 201, 201);
}

tr:nth-child(2n-1) {
  background-color: rgba(128, 128, 128, 0.2);
}

td:nth-child(2n-1) {
  background-color: rgba(85, 84, 84, 0.2);
}
td:first-child {
  text-align: left;
}

/* ------------------------------ */

table {
  border-collapse: separate;
  border-spacing: 0;
}
thead th:first-child {
  border-top-left-radius: 10px;
}
thead th:last-child {
  border-top-right-radius: 10px;
}
td {
  border-top: 1px solid black;
  border-collapse: collapse;
}
td ~ td {
  border-left: 1px solid black;
}
tr ~ tr {
  border-top: 1px solid black;
}
td:first-child {
  border-left: 1px solid black;
}
td:last-child {
  border-right: 1px solid black;
}

th {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
th:last-child {
  border-right: 1px solid black;
}
tfoot td {
  border-bottom: 1px solid black;
}
tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  border-spacing: 0;
  border-left: 1px solid black;
}
tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  border: 1px solid black;
}
